@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;500&display=swap');

.App {
  text-align: center;
}


div {
  box-sizing : border-box;
}

.list {
  padding-left: 20 px;
  text-align : left;
  border-bottom : 1px solid grey;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
  display: none;
}

.blackBg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index: 1;
  padding: 30px;
  visibility: visible;
  opacity: 0;
  transition: all 1s;
}

.whiteBg {
  background: white;
  border-radius: 5px;
  z-index: 2;
  padding: 30px;
} 

.show {
  visibility: visible
}

